{{!< default}}
<main class="index__main" role="main">
  <a class="index__header" href="{{@blog.url}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}}); background-color: #626667;"{{/if}}>
    <div id="index__meta">
      <h1>{{@blog.title}}</h1>
      <h2>{{@blog.description}}</h2>
    </div>
  </a>

  {{#foreach posts}}
  <article class="{{post_class}}">
    <a class="index__link" href="{{url}}">
      <h2>{{{title}}}</h2>
      <p>{{excerpt words="25"}}&hellip;</p>
    </a>
  </article>
  {{/foreach}}
  
  {{pagination}}
</main>

{{> footer this }}